<div class = "row">
    <div class = "colums">
        <img src="..\trecslogo.png" align="left" alt="Drawing" width ="60"/>    
    </div>
    <div class = "colums">
        <img src="..\asrlogo.png" align="right" alt="Drawing" width ="175"/>
    </div>    
</div>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Algemeen" data-toc-modified-id="Algemeen-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Algemeen</a></span><ul class="toc-item"><li><span><a href="#Import-en-instellingen" data-toc-modified-id="Import-en-instellingen-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import en instellingen</a></span></li></ul></li><li><span><a href="#Importeer-data" data-toc-modified-id="Importeer-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Importeer data</a></span><ul class="toc-item"><li><span><a href="#Liability-parameters" data-toc-modified-id="Liability-parameters-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Liability parameters</a></span></li><li><span><a href="#Liability-kasstromen-en-kasstroom-indicator" data-toc-modified-id="Liability-kasstromen-en-kasstroom-indicator-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Liability kasstromen en kasstroom indicator</a></span></li><li><span><a href="#Historische-rentes" data-toc-modified-id="Historische-rentes-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Historische rentes</a></span></li><li><span><a href="#Rentecurves" data-toc-modified-id="Rentecurves-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Rentecurves</a></span></li><li><span><a href="#ESG-data" data-toc-modified-id="ESG-data-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>ESG data</a></span></li></ul></li><li><span><a href="#Databewerking-op-rentes" data-toc-modified-id="Databewerking-op-rentes-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Databewerking op rentes</a></span><ul class="toc-item"><li><span><a href="#Referentie-rente-in-simulatie" data-toc-modified-id="Referentie-rente-in-simulatie-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Referentie rente in simulatie</a></span><ul class="toc-item"><li><span><a href="#Forward-rente-gebaseerd-op-Staat" data-toc-modified-id="Forward-rente-gebaseerd-op-Staat-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Forward rente gebaseerd op Staat</a></span></li><li><span><a href="#Forward-rente-gebaseerd-op-swap" data-toc-modified-id="Forward-rente-gebaseerd-op-swap-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Forward rente gebaseerd op swap</a></span></li><li><span><a href="#Solvency-2-par-rente-in-simulatie" data-toc-modified-id="Solvency-2-par-rente-in-simulatie-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>Solvency 2 par rente in simulatie</a></span></li><li><span><a href="#Referentie-rente-in-simulatie" data-toc-modified-id="Referentie-rente-in-simulatie-3.1.4"><span class="toc-item-num">3.1.4&nbsp;&nbsp;</span>Referentie rente in simulatie</a></span></li></ul></li><li><span><a href="#Discountcurve-inclusief-VA" data-toc-modified-id="Discountcurve-inclusief-VA-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Discountcurve inclusief VA</a></span></li><li><span><a href="#Cash-rendement-in-simulatie" data-toc-modified-id="Cash-rendement-in-simulatie-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Cash rendement in simulatie</a></span></li></ul></li><li><span><a href="#Databewerking-op-kasstromen" data-toc-modified-id="Databewerking-op-kasstromen-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Databewerking op kasstromen</a></span><ul class="toc-item"><li><span><a href="#Bepaal-premie-kasstromen" data-toc-modified-id="Bepaal-premie-kasstromen-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Bepaal premie kasstromen</a></span></li><li><span><a href="#Bepaal-uitkering-kasstromen" data-toc-modified-id="Bepaal-uitkering-kasstromen-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Bepaal uitkering kasstromen</a></span></li></ul></li><li><span><a href="#Methodiek-winstdeling" data-toc-modified-id="Methodiek-winstdeling-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Methodiek winstdeling</a></span><ul class="toc-item"><li><span><a href="#FSTRAD" data-toc-modified-id="FSTRAD-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>FSTRAD</a></span><ul class="toc-item"><li><span><a href="#Winstdeling-zonder-deferred-loss-via-cash" data-toc-modified-id="Winstdeling-zonder-deferred-loss-via-cash-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Winstdeling zonder deferred loss via cash</a></span></li><li><span><a href="#Winstdeling-zonder-deferred-loss-via-verhoging-voorziening" data-toc-modified-id="Winstdeling-zonder-deferred-loss-via-verhoging-voorziening-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Winstdeling zonder deferred loss via verhoging voorziening</a></span></li><li><span><a href="#Winstdeling-met-deferred-loss-via-cash" data-toc-modified-id="Winstdeling-met-deferred-loss-via-cash-5.1.3"><span class="toc-item-num">5.1.3&nbsp;&nbsp;</span>Winstdeling met deferred loss via cash</a></span></li><li><span><a href="#Winstdeling-met-deferred-loss-via-verhoging-voorziening" data-toc-modified-id="Winstdeling-met-deferred-loss-via-verhoging-voorziening-5.1.4"><span class="toc-item-num">5.1.4&nbsp;&nbsp;</span>Winstdeling met deferred loss via verhoging voorziening</a></span></li></ul></li><li><span><a href="#FSFSPD" data-toc-modified-id="FSFSPD-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>FSFSPD</a></span><ul class="toc-item"><li><span><a href="#Winstdeling-zonder-deferred-loss-via-cash" data-toc-modified-id="Winstdeling-zonder-deferred-loss-via-cash-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>Winstdeling zonder deferred loss via cash</a></span></li><li><span><a href="#Winstdeling-zonder-deferred-loss-via-verhoging-voorziening" data-toc-modified-id="Winstdeling-zonder-deferred-loss-via-verhoging-voorziening-5.2.2"><span class="toc-item-num">5.2.2&nbsp;&nbsp;</span>Winstdeling zonder deferred loss via verhoging voorziening</a></span></li><li><span><a href="#Winstdeling-met-deferred-loss-via-cash" data-toc-modified-id="Winstdeling-met-deferred-loss-via-cash-5.2.3"><span class="toc-item-num">5.2.3&nbsp;&nbsp;</span>Winstdeling met deferred loss via cash</a></span></li><li><span><a href="#Winstdeling-met-deferred-loss-via-verhoging-voorziening" data-toc-modified-id="Winstdeling-met-deferred-loss-via-verhoging-voorziening-5.2.4"><span class="toc-item-num">5.2.4&nbsp;&nbsp;</span>Winstdeling met deferred loss via verhoging voorziening</a></span></li></ul></li><li><span><a href="#Rentestandskorting" data-toc-modified-id="Rentestandskorting-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Rentestandskorting</a></span></li></ul></li><li><span><a href="#Modellering" data-toc-modified-id="Modellering-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Modellering</a></span></li></ul></div>

# RENTEPARTICIPERENDE POLISSEN

## Algemeen

### Import en instellingen

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

Links uitlijnen tabellen

In [2]:
%%html
<style>
    table {
        display: inline-block
    }
</style>

Bij printen van een dataframe wordt slechts een beperkt aantal rijen getoond.

In [3]:
pd.set_option('display.max_rows', 10)

## Importeer data

### Liability parameters

In [4]:
col_list = ['LIAB_NAME', 'ALPHA_PC', 'BETA_PC', 'CAP_PC', 'G_PC', 'M_PC', 'PS_METHOD', 'PS_REFERENCE', 'PS_BENCH_TERM', \
           'PS_AV_PERIOD', 'PS_HIST_INDEX', 'ECONOMY', 'I_DEFLOSS_RESERVE', 'DEFLOSS_IND', 'Product']
df_liabilityParameters = pd.read_excel(r"dataLiabilityParameters.xlsx", usecols = col_list)
df_liabilityParameters

,LIAB_NAME,ALPHA_PC,BETA_PC,CAP_PC,G_PC,M_PC,PS_METHOD,PS_REFERENCE,PS_BENCH_TERM,PS_AV_PERIOD,PS_HIST_INDEX,ECONOMY,I_DEFLOSS_RESERVE,DEFLOSS_IND,Product
0,IABE,67,100,99,3.00,0.5,1,2,0,0,1,EUR,0,0,FSTRAD
1,IACD,100,100,99,3.00,1.0,1,4,5,5,7,EUR,0,0,FSTRAD
2,IACV,100,100,99,4.00,1.0,1,4,5,5,7,EUR,0,0,FSTRAD
3,IADS,67,100,99,2.97,0.5,1,2,0,0,1,EUR,0,0,FSTRAD
4,IAGA,67,100,99,3.00,0.5,1,2,0,0,1,EUR,0,0,FSTRAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,IQLR,0,0,99,0.00,0.0,0,0,0,0,1,EUR,0,0,FSTRAD
21,IQNW,0,0,99,0.00,0.0,0,0,0,0,1,EUR,0,0,FSTRAD
22,UZRP,0,0,99,4.00,0.0,0,0,0,0,1,EUR,0,0,FSTRAD
23,IAFN,0,0,99,0.00,0.0,0,0,0,1,1,EUR,0,0,FSTRAD
24,IAFW,67,100,99,3.50,0.5,1,4,7,7,2,EUR,0,0,FSTRAD

### Liability kasstromen en kasstroom indicator

In [5]:
df_liabilityKasstromen = pd.read_csv(r"dataLiabilityCashFlows.csv",sep = ";",decimal = '.')
df_liabilityKasstromen

,LIAB_NAME,VAR_NAME,0,1,2,3,4,5,6,7,...,90,91,92,93,94,95,96,97,98,99
0,IABE,MATH_RES_IF,16230055.02,17278009.18,18117326.57,18854421.98,19499999.95,20049110.11,20490161.21,20828661.02,...,1748.98,1243.43,856.35,585.9,377.81,227.9,151.1,94.31,66.99,40.88
1,IABE,INV_EXP,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00
2,IABE,ANNUAL_PREM,0.00,2036263.29,1912413.56,1776110.93,1657164.10,1540026.32,1411140.39,1288103.62,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00
3,IABE,SINGLE_PREM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00
4,IABE,NET_PREMIUM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,IQNW,RD_NO_POLS_PV,1421.80,1322.50,1134.21,969.91,819.58,682.24,571.49,484.11,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00
971,IQNW,RD_SURR_OUTGO,0.00,518234.97,401377.32,324233.72,238208.58,188315.75,158872.23,133756.05,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00
972,IQNW,D_OPT_VALUE_BS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00
973,IQNW,OPT_OUTGO_INT,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00
974,IQNW,G_PC_AVERAGE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00

In [6]:
df_kasstroomIndicator = pd.read_excel(r"dataKasstroomIndicator.xlsx")
df_kasstroomIndicator

          VAR_NAME  CFs  CFUs  CFPs
0      MATH_RES_IF    0     0     0
1          INV_EXP   -1     0     0
2      ANNUAL_PREM    1     0     1
3      SINGLE_PREM    1     0     1
4      NET_PREMIUM    0     0     1
..             ...  ...   ...   ...
34   RD_NO_POLS_PV    0     0     0
35   RD_SURR_OUTGO    0     0     0
36  D_OPT_VALUE_BS    0     0     0
37   OPT_OUTGO_INT   -1     0     0
38    G_PC_AVERAGE    0     0     0

[39 rows x 4 columns]

In [7]:
df_RSKParameters = pd.read_excel(r"dataRSKParameters.xlsx")
df_RSKParameters

   RSK_REFER_PC  RSK_SCALAR  RSK_CONSTANT
0             0         8.0             0
1             2         5.5            16
2             4         4.5            27
3             6         4.0            36
4             8         3.0            44
5            11         0.0            53

### Historische rentes

In [8]:
df_historicRates = pd.read_excel(r"dataHistoricRates.xlsx")
df_historicRates

   Years       1    2     3     4     5     6     7     8  9    10    11
0           1  0  5.8  0.50  0.47  1.14  2.81  0.90  1.03  0  1.14  1.03
1           2  0  4.8  0.77  1.33  2.54  3.41  1.50  2.07  0  2.54  2.07
2           3  0  4.8  1.84  1.50  2.61  4.07  1.67  2.30  0  2.61  2.44
3           4  0  4.8  1.38  1.71  2.64  4.66  1.95  2.38  0  2.64  2.38
4           5  0  4.8  2.18  2.76  3.64  5.13  3.04  3.18  0  3.64  3.19
5           6  0  4.8  2.29  2.73  3.93  0.00  0.00  3.29  0  0.00  3.29
6           7  0  5.0  3.28  3.46  4.31  0.00  0.00  0.00  0  0.00  0.00
7           8  0  0.0  4.16  0.00  4.77  0.00  0.00  0.00  0  0.00  0.00
8           9  0  0.0  4.28  0.00  4.36  0.00  0.00  0.00  0  0.00  0.00
9          10  0  0.0  3.74  0.00  4.10  0.00  0.00  0.00  0  0.00  0.00

### Rentecurves

In [9]:
df_renteCurves = pd.read_excel(r"dataRenteCurves.xlsx")
df_renteCurves = df_renteCurves.rename({'Swap 50 type00': 'swapZero', 'Dutch Govt type00': 'StaatZero', 'VA SCR Curve (Toezichthouderscurve (incl VA)) type00': 'VA'}, axis=1)
df_renteCurves

     jaar Currency  swapZero  StaatZero      VA
0       1      EUR -0.000570  -0.001800  0.0022
1       2      EUR -0.000290  -0.003796  0.0022
2       3      EUR  0.000626  -0.002771  0.0022
3       4      EUR  0.001967  -0.001793  0.0022
4       5      EUR  0.003326  -0.000422  0.0022
..    ...      ...       ...        ...     ...
750   147      ZAR  0.095212        NaN  0.0000
751   148      ZAR  0.095212        NaN  0.0000
752   149      ZAR  0.095212        NaN  0.0000
753   150      ZAR  0.095212        NaN  0.0000
754   151      ZAR  0.095212        NaN  0.0000

[755 rows x 5 columns]

### ESG data

In [10]:
df_ESG = pd.read_csv(r"dataESG.csv",sep = ";",decimal = '.')
df_ESG

,SIMULATION,ECONOMY,CLASS,MEASURE,TERM,0,1,2,3,4,...,91,92,93,94,95,96,97,98,99,100
0,1,EUR,MSCI_EMU,RET_IDX,0,100.000000,99.843000,99.742130,99.887429,100.386426,...,2.207162e+03,2.299858e+03,2.396448e+03,2.497095e+03,2.601970e+03,2.711249e+03,2.825119e+03,2.943771e+03,3.067407e+03,3.196236e+03
1,1,EUR,AEX,RET_IDX,0,100.000000,99.843000,99.742130,99.887429,100.386426,...,2.207162e+03,2.299858e+03,2.396448e+03,2.497095e+03,2.601970e+03,2.711249e+03,2.825119e+03,2.943771e+03,3.067407e+03,3.196236e+03
2,1,EUR,RENL_Rural,RET_IDX,0,100.000000,99.843000,99.742130,99.887429,100.386426,...,2.207162e+03,2.299858e+03,2.396448e+03,2.497095e+03,2.601970e+03,2.711249e+03,2.825119e+03,2.943771e+03,3.067407e+03,3.196236e+03
3,1,EUR,RENL_Residential,RET_IDX,0,100.000000,99.843000,99.742130,99.887429,100.386426,...,2.207162e+03,2.299858e+03,2.396448e+03,2.497095e+03,2.601970e+03,2.711249e+03,2.825119e+03,2.943771e+03,3.067407e+03,3.196236e+03
4,1,EUR,RENL_Retail,RET_IDX,0,100.000000,99.843000,99.742130,99.887429,100.386426,...,2.207162e+03,2.299858e+03,2.396448e+03,2.497095e+03,2.601970e+03,2.711249e+03,2.825119e+03,2.943771e+03,3.067407e+03,3.196236e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595,100,EUR,ZCB,PRICE,40,0.365707,0.367106,0.288144,0.353089,0.310102,...,1.180354e-02,9.357898e-03,7.585476e-03,8.329124e-03,1.010861e-02,1.463161e-02,1.011619e-02,1.141546e-02,1.396435e-02,1.442182e-02
2596,100,EUR,ZCB,PRICE,50,0.244081,0.245329,0.187060,0.235306,0.203528,...,5.171821e-03,3.983831e-03,3.146240e-03,3.494867e-03,4.344439e-03,6.583047e-03,4.347901e-03,4.980244e-03,6.246206e-03,6.476528e-03
2597,100,EUR,TREMONT_CSF,RET_IDX,0,100.000000,103.595558,116.089364,131.386939,117.293175,...,6.075332e+06,7.373298e+06,8.732512e+06,9.881773e+06,1.088402e+07,1.135513e+07,1.351851e+07,1.652324e+07,1.831064e+07,2.087181e+07
2598,100,EUR,MSCI_EMERGING_MARKETS,RET_IDX,0,100.000000,116.177448,131.856030,153.858868,110.663356,...,3.567170e+06,5.012531e+06,5.624649e+06,4.423493e+06,4.594133e+06,4.925075e+06,5.227669e+06,6.170940e+06,6.764689e+06,8.909823e+06
2599,100,EUR,MSCI_PACIFIC,RET_IDX,0,100.000000,114.679890,124.878037,174.582498,139.769600,...,6.873447e+06,8.533879e+06,9.891259e+06,8.054973e+06,7.567151e+06,7.156927e+06,7.154500e+06,9.277768e+06,1.131760e+07,1.323349e+07

## Databewerking op rentes
Voordat winstdeling kan worden berekend, dient eerst een aatal bewerkingen op rentecurves plaats te vinden. Achtereenvolgens worden de volgende rentes bepaald:
- Referentie rente
- Discountcurve in simulatie
- Discountcurve in basis
- Cash rendement

### Referentie rente in simulatie
Winstdeling wordt gegeven obv een referentie rate. De referentie rate is gelijk aan de $x$ jaars Solvency 2 par rate (ex VA) + spread (benchmark adjustment). De spread is gelijk aan het verschil tussen de $x$ jaars Staats forward rate en de $x$ jaars zeroswap rate. De Staats rate wordt gezien als de benchmark rate voor alle renteparticipatie rentes ($r, s, t, u$ rendementen), er wordt dus verder geen onderscheid gemaakt. De Solvency 2 par rate muteert over alle ESG's en simulaties, terwijl de spread constant blijft.

$$
rr_{s,t,x} = r_{s,t,x}^{S2} + \left(f_{1,t,x}^S - f_{1,t,x}^z\right)
$$

|variabele|betekenis|
|:---|:---|
|$rr_{s,t,x}$ | referentie rente in simulatie $s$ in jaar $t$ met looptijd $x$|
|$r_{s,t,x}^{S2}$ | Solvency 2 par rente in simulatie $s$ in jaar $t$ met looptijd $x$|
|$f_{1,t,x}^S$ | forwardrente in de basis simulatie met looptijd $x$ over $t$ jaar gebaseerd op de actuele Staatscurve |
|$f_{1,t,x}^z$ | forwardrente in de basis simulatie met looptijd $x$ over $t$ jaar gebaseerd op de actuele zeroswapcurve |

#### Forward rente gebaseerd op Staat
In geval dat de economy gelijk is aan EUR worden de werkelijke Staatsrentes gebruikt, anders worden de swaprentes gehanteerd alsof deze Staatsrentes zijn.

In [11]:
def calculateStaatForwardRates(economy, referenceRateTerm):
    if economy == 'EUR':
        df_StaatDiscount = df_renteCurves.loc[(df_renteCurves['Currency'] == 'EUR'), ['jaar', 'StaatZero']]
        df_StaatDiscount['StaatDiscount'] = (1/(1+df_StaatDiscount['StaatZero']))**df_StaatDiscount['jaar']
    else:
        df_StaatDiscount = df_renteCurves.loc[(df_renteCurves['Currency'] == economy), ['jaar', 'swapZero']]
        df_StaatDiscount['StaatDiscount'] = (1/(1+df_StaatDiscount['swapZero']))**df_StaatDiscount['jaar']
    df_StaatForwardRates = pd.DataFrame(0, index = np.arange(0,100), columns = np.arange(1))
    for jaar in range(0,100):
        if jaar == 0:
            df_StaatForwardRates.iloc[jaar,0] = (1 / df_StaatDiscount.loc[jaar-1+referenceRateTerm, 'StaatDiscount'])**(1/referenceRateTerm)-1
        else:
            df_StaatForwardRates.iloc[jaar,0] = (df_StaatDiscount.loc[jaar-1, 'StaatDiscount'] / df_StaatDiscount.loc[jaar-1+referenceRateTerm, 'StaatDiscount'])**(1/referenceRateTerm)-1
    return df_StaatForwardRates

#### Forward rente gebaseerd op swap

In [12]:
def calculateSwapForwardRates(economy, referenceRateTerm):
    df_swapDiscount = df_renteCurves.loc[(df_renteCurves['Currency'] == economy), ['jaar', 'swapZero']]
    df_swapDiscount['swapDiscount'] = (1/(1+df_swapDiscount['swapZero']))**df_swapDiscount['jaar']
    df_swapForwardRates = pd.DataFrame(0, index = np.arange(0,100), columns = np.arange(1))
    for jaar in range(0,100):
        if jaar == 0:
            df_swapForwardRates.iloc[jaar,0] = (1 / df_swapDiscount.loc[jaar-1+referenceRateTerm, 'swapDiscount'])**(1/referenceRateTerm)-1
        else:
            df_swapForwardRates.iloc[jaar,0] = (df_swapDiscount.loc[jaar-1, 'swapDiscount'] / df_swapDiscount.loc[jaar-1+referenceRateTerm, 'swapDiscount'])**(1/referenceRateTerm)-1
    return df_swapForwardRates

#### Solvency 2 par rente in simulatie
De Solvency 2 par rente is gebaseerd op de discountcurves in de ESG. Deze discountcurves zijn niet voor alle jaren meegegeven, namelijk alleen voor de jaren 1, 2, 3, 5, 7, 10, 12, 15, 20, 25, 30, 40 en 50. De eerste stap is daarom (linaire) interpolatie van de discount factoren over alle jaren.

In [13]:
def calculateS2ParRates(simulatie, economy, referenceRateTerm, df_StaatForwardRates, df_swapForwardRates):
    jaren = [1,2,3,5,7,10,12,15,20,25,30,40,50]
    df_S2Discount = df_ESG.loc[(df_ESG['SIMULATION'] == simulatie) & (df_ESG['ECONOMY'] == economy) & (df_ESG['TERM'].isin(jaren)), 'TERM':]
    df_S2DiscountInterpolated = pd.DataFrame({'TERM': range(1,51)})
    df_S2DiscountInterpolated = pd.merge(df_S2DiscountInterpolated, df_S2Discount, how = 'left', on = ['TERM'])
    df_S2DiscountInterpolated = df_S2DiscountInterpolated.interpolate(method ='linear')
    df_S2ParCurves = pd.DataFrame(0, index = np.arange(1,51), columns = np.arange(100))
    for t in range(0,100):
        sumDiscount = 0
        for jaar in range(1,51):
            sumDiscount += df_S2DiscountInterpolated.iloc[jaar-1, t+1]
            df_S2ParCurves.loc[jaar, t] = (1-df_S2DiscountInterpolated.iloc[jaar-1, t+1]) / sumDiscount 
    df_S2ParRates = df_S2ParCurves.loc[referenceRateTerm:referenceRateTerm].T
    df_S2ParRates = df_S2ParRates.rename({referenceRateTerm: 'S2ParRates'}, axis=1)
    df_S2ParRates['StaatForwardRates'] = df_StaatForwardRates[0]
    df_S2ParRates['SwapForwardRates'] = df_swapForwardRates[0]
    df_S2ParRates['jaar'] = list(range(1,101))
    return df_S2ParRates

#### Referentie rente in simulatie

In [14]:
def calculateReferenceRates(df_S2ParRates, historyIndex):
    df_referenceRates = pd.DataFrame(0, index = np.arange(0,100), columns = ['referenceRates', 'referenceRatesRSK'])
    df_referenceRates['referenceRates'] = df_S2ParRates['S2ParRates'] + (df_S2ParRates['StaatForwardRates'] - df_S2ParRates['SwapForwardRates'])
    df_referenceRates['referenceRatesRSK'] = df_S2ParRates['S2ParRates'] + (df_S2ParRates['StaatForwardRates'].shift(-1) - df_S2ParRates['SwapForwardRates'].shift(-1))
    df_referenceRates['jaar'] = list(range(1,101))
    for h in range(0,10):
        df_histRates = pd.DataFrame({'referenceRates': [df_historicRates.loc[h, historyIndex]/100], 'jaar': [-h]})
        df_referenceRates = pd.concat([df_histRates, df_referenceRates]).reset_index(drop=True)
    return df_referenceRates

### Discountcurve inclusief VA
De discountcurve in de simulatie wordt verkregen uit de ESG. Voor de betreffende simulatie en de economy wordt de deflator regel uit de ESG genomen. Vervolgens wordt de VA hierbij opgeteld.

In [15]:
def calculateS2DiscountPlusVA(simulatie, economy):
    df_S2DiscountPlusVA = df_ESG.loc[(df_ESG['SIMULATION'] == simulatie) & (df_ESG['ECONOMY'] == economy) & (df_ESG['MEASURE'] == 'DEF'), 'TERM':].T
    df_S2DiscountPlusVA = df_S2DiscountPlusVA.drop(['TERM'], axis = 0)
    df_S2DiscountPlusVA.columns = ['Deflator']
    df_S2DiscountPlusVA.index = df_S2DiscountPlusVA.index.astype(int)
    df_VA = df_renteCurves.loc[(df_renteCurves['Currency'] == economy) & (df_renteCurves['jaar'] <= 101), ['VA']]
    df_VA = df_VA.shift(1).fillna(0)
    df_S2DiscountPlusVA['VA'] = df_VA['VA']
    df_S2DiscountPlusVA['jaar'] = list(range(0,101))
    df_S2DiscountPlusVA['S2DiscountPlusVA'] = (df_S2DiscountPlusVA['Deflator']**(-1/df_S2DiscountPlusVA['jaar']) + df_S2DiscountPlusVA['VA'])**(-df_S2DiscountPlusVA['jaar'])
    return df_S2DiscountPlusVA

### Cash rendement in simulatie
Het cash rendement wordt bepaald als de forward rente gebaseerd op de deflator uit de betreffende economie en simultie plus de VA.

In [16]:
def calculateCashReturnSimulation(df_S2DiscountPlusVASimulation):
    df_cashReturnSimulation = pd.DataFrame(0, index = np.arange(0,101), columns = np.arange(0))
    df_cashReturnSimulation['Deflator'] = df_S2DiscountPlusVASimulation['Deflator']
    df_cashReturnSimulation['forwardRate'] = df_cashReturnSimulation['Deflator'].shift(+1) / df_cashReturnSimulation['Deflator'] - 1
    df_forwardVA = pd.DataFrame(0, index = np.arange(0,101), columns = np.arange(0))
    df_forwardVA['forwardVA'] = df_S2DiscountPlusVASimulation['S2DiscountPlusVA'].shift(+1) / df_S2DiscountPlusVASimulation['S2DiscountPlusVA'] - df_S2DiscountPlusVASimulation['Deflator'].shift(+1) / df_S2DiscountPlusVASimulation['Deflator']
    df_cashReturnSimulation['forwardVA'] = df_forwardVA['forwardVA']
    df_cashReturnSimulation['cashReturn'] = df_cashReturnSimulation['forwardRate'] + df_cashReturnSimulation['forwardVA']
    return df_cashReturnSimulation

## Databewerking op kasstromen

In [17]:
df_liabilityKasstromen = pd.merge(df_liabilityKasstromen, df_kasstroomIndicator, how = 'left', on = ['VAR_NAME'])
df_liabilityKasstromen

,LIAB_NAME,VAR_NAME,0,1,2,3,4,5,6,7,...,93,94,95,96,97,98,99,CFs,CFUs,CFPs
0,IABE,MATH_RES_IF,16230055.02,17278009.18,18117326.57,18854421.98,19499999.95,20049110.11,20490161.21,20828661.02,...,585.9,377.81,227.9,151.1,94.31,66.99,40.88,0,0,0
1,IABE,INV_EXP,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,-1,0,0
2,IABE,ANNUAL_PREM,0.00,2036263.29,1912413.56,1776110.93,1657164.10,1540026.32,1411140.39,1288103.62,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,1,0,1
3,IABE,SINGLE_PREM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,1,0,1
4,IABE,NET_PREMIUM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,IQNW,RD_NO_POLS_PV,1421.80,1322.50,1134.21,969.91,819.58,682.24,571.49,484.11,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0,0,0
971,IQNW,RD_SURR_OUTGO,0.00,518234.97,401377.32,324233.72,238208.58,188315.75,158872.23,133756.05,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0,0,0
972,IQNW,D_OPT_VALUE_BS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0,0,0
973,IQNW,OPT_OUTGO_INT,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,-1,0,0
974,IQNW,G_PC_AVERAGE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0,0,0

### Bepaal premie kasstromen

In [18]:
df_CFsPremies = df_liabilityKasstromen.copy()
df_CFsPremies.iloc[:, 2:102] = df_CFsPremies.iloc[:, 2:102].multiply(df_CFsPremies['CFPs'], axis = "index")
df_CFsPremies = df_CFsPremies.groupby('LIAB_NAME').sum().reset_index()
df_CFsPremies = df_CFsPremies.drop(columns = ['CFs', 'CFUs', 'CFPs'])
df_CFsPremies

,LIAB_NAME,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,IABE,0.0,2036263.290,1912413.560,1776110.930,1657164.100,1540026.320,1411140.390,1288103.62,1166976.500,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
1,IACD,0.0,2961645.551,2781294.737,2603578.679,2444264.459,2307824.594,2175025.875,2046275.37,1919785.073,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
2,IACV,0.0,929515.680,844480.280,755067.400,674100.370,595457.530,512631.330,430718.23,357349.950,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
3,IADS,0.0,3583203.430,3506964.160,3428434.720,3347234.300,3270098.660,3183095.140,3106125.00,3019539.290,...,620.02,437.44,299.91,199.95,129.74,82.0,50.51,30.3,17.69,10.03
4,IAFN,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,IQAD,0.0,2939051.000,2714439.900,2500123.870,2306053.060,2088911.090,1894401.610,1722133.79,1541573.320,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
21,IQAV,0.0,3490613.740,2954099.670,2447469.830,1993116.690,1626702.310,1307970.690,1034509.81,776518.510,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
22,IQLR,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
23,IQNW,0.0,136.310,134.100,131.900,111.550,109.730,107.930,106.15,104.370,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
24,UZRP,0.0,693387.270,559500.210,387370.000,268614.580,209352.690,161814.570,127512.04,103391.390,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00

### Bepaal uitkering kasstromen

In [19]:
df_CFsUitkeringen = df_liabilityKasstromen.copy()
df_CFsUitkeringen.iloc[:, 2:102] = df_CFsUitkeringen.iloc[:, 2:102].multiply(df_CFsUitkeringen['CFUs'], axis = "index")
df_CFsUitkeringen = df_CFsUitkeringen.groupby('LIAB_NAME').sum().reset_index()
df_CFsUitkeringen = df_CFsUitkeringen.drop(columns = ['CFs', 'CFUs', 'CFPs'])
df_CFsUitkeringen

,LIAB_NAME,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,IABE,0.0,-6.841308e+05,-7.162235e+05,-7.462969e+05,-7.770432e+05,-8.099856e+05,-8.442139e+05,-874558.86,-9.045577e+05,...,-662.630000,-525.310000,-400.220000,-279.170000,-213.890000,-153.010000,-77.480000,-56.740000,-27.310000,-26.080000
1,IACD,0.0,-4.088134e+05,-4.251862e+05,-4.440020e+05,-4.652163e+05,-4.888611e+05,-5.146185e+05,-542540.28,-5.727030e+05,...,-2822.599341,-2572.221777,-2287.229774,-1979.302684,-1663.992595,-1356.681864,-1070.427686,-814.973155,-596.474779,-417.675886
2,IACV,0.0,-8.747752e+05,-9.065658e+05,-9.346136e+05,-9.614602e+05,-9.861477e+05,-1.009469e+06,-1031755.85,-1.053096e+06,...,-1634.780000,-1484.320000,-1286.440000,-1463.160000,-1212.900000,-1156.310000,-881.860000,-847.450000,-482.250000,-241.070000
3,IADS,0.0,-7.728830e+05,-8.157930e+05,-8.609894e+05,-9.089326e+05,-9.587372e+05,-1.009546e+06,-1061671.57,-1.116529e+06,...,-992655.680000,-828182.940000,-676154.040000,-541810.110000,-426468.250000,-331401.450000,-254103.450000,-192145.410000,-142899.900000,-103966.010000
4,IAFN,0.0,-1.516889e+05,-1.484567e+05,-1.453100e+05,-1.420837e+05,-1.387913e+05,-1.354449e+05,-132046.15,-1.286266e+05,...,-5.760000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,IQAD,0.0,-6.657059e+06,-5.219395e+06,-5.877788e+06,-6.600971e+06,-6.147514e+06,-5.227648e+06,-5778827.22,-6.185537e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,IQAV,0.0,-3.908230e+07,-3.798493e+07,-3.672772e+07,-3.855868e+07,-3.195953e+07,-3.158785e+07,-26488531.60,-2.410460e+07,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,IQLR,0.0,-9.655804e+06,-8.447253e+06,-7.661746e+06,-6.921298e+06,-6.244682e+06,-5.680277e+06,-5183493.90,-4.702189e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,IQNW,0.0,-5.259974e+06,-4.520003e+06,-3.454045e+06,-4.188633e+06,-3.189624e+06,-3.615906e+06,-2232487.25,-2.588189e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,UZRP,0.0,-3.696409e+05,-3.186090e+05,-2.561411e+05,-1.701009e+05,-1.307737e+05,-1.051530e+05,-85939.77,-7.011986e+04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

## Methodiek winstdeling
De winstdeling in dit notebook betreft winstdeling op basis van renteparticipatie, ofwel modelpunten met profit sharing rule 4. Binnen renteparticipatie wordt onderscheid gemaakt naar modelpunten met productcode FSTRAD, productcode FSFSPD en productcode FSRSK_. FSTRAD staat voor traditionele winstdelende producten, FSFSPD staat voor gesepareerde beleggingsdepots en FSRSK_ voor producten met rentestandskorting op de te betalen premie. 

Binnen de productcodes FSTRAD en FSFSPD wordt verder onderscheid gemaakt naar modelpunten waarbij rekening dient te worden gehouden met een deferred loss, en waarbij dit niet het geval is. Op de deferred loss account wordt bijgehouden hoeveel verlies a.s.r. heeft gemaakt op het modelpunt. Daarbij wordt er van uit gegaan dat a.s.r. een rendement maakt gelijk aan de reference rate. Indien  deze lager uitkomt dan de rekenrente, maakt a.s.r. verlies.Pas wanneer de deferred loss account gelijk is aan 0, kan er winstdeling worden gegeven ter grootte van de gain in het betreffende jaar. Als de deferred loss account groter is dan 0, kan alleen winstdeling worden gegeven als de gain in het betreffende jaar groter is dan de deferred loss account.

Tenslotte kan winstdeling direct als cash worden uitgekeerd aan de klant, ofwel kunnen de toekomstige uitkeringen aan de klant worden verhoogd met de winstdeling. Daarmee wordt de voorziening verhoogd. De wijze van winstdeling is per modelpunt vastgelegd.

Bij rentestandskorting geldt dat de polishouder een rentestandskorting op de premie krijgt indien de rente hoger is dan de gehanteerde rekenrente in het verzekeringsproduct. Deze korting wordt bij premiebetaling gegeven. Binnen het model wordt deze korting gerapporteerd  als een cash bonus.

### FSTRAD

#### Winstdeling zonder deferred loss via cash
$$
PS^c_s = \sum^T_{t=1}A^{ps}_{s,t} \cdot \left(1+cr_{s,t}\right)^{1-\tau}\cdot D_{1,t} \tag{1}\\
$$
waarbij
$$
A^{ps}_{s,t} = V_t \cdot P_{s,t} \tag{2}\\
$$
en
$$
P_{s,t} = \frac{1}{K}\cdot\sum^{K-1}_{j=0} min \left(\alpha \cdot max\left(\beta \cdot \left(rr_{s,t-j,x} - m \right) - g, 0 \right),c \right) \tag{3}
$$

|variabele|betekenis|
|:---|:---|
|$PS^c_s$ | intrinsieke waarde van profit sharing via cash (op $t=0$) in simulatie $s$|
|$cr_{s,t}$| cash return in jaar $t$ in simulatie $s$|
|$D_{1,t}$| discount factor (inclusief VA) in jaar $t$ in simulatie $1$ (basis simulatie)|
|$A^{ps}_{s,t}$ | beschikbaar bedrag voor profit sharing in jaar $t$ in simulatie $s$|
|$V_t$ | waarde IFRS voorziening in jaar $t$|
|$P_{s,t}$ | profit sharing rente in jaar $t$ in simulatie $s$ |
|$K$ | aantal (historische) jaren waarover profit sharing wordt gegeven |
|$\alpha$| fractie 1|
|$\beta$| fractie 1|
|$rr_{s,t,x}$| referente rente in jaar $t$ in simulatie $s$ met term $x$| 
|$m$| marge |
|$g$| garantie rente|

#### Winstdeling zonder deferred loss via verhoging voorziening
$$
PS^v_s = \sum^T_{t=1}CF^{ps}_{s,t} \cdot \left(1+cr_{s,t}\right)^{1-\tau}\cdot D_{s,t} \tag{4}\\
$$
waarbij
$$
CF^{ps}_{s,t} = CF^U_t \cdot \left( FF_{s,t} - 1\right) \tag{5}
$$
met
$$
FF_{s,t} =
\begin{cases}
    \frac{V_t + V_{s,t}^{ps}}{V_t} & \text{if } V_t\neq 0 \\
    1 & \text{otherwise}
\end{cases}
\tag{6}
$$
met
$$
V_{s,t}^{ps} = V_{s,t-1}^{ps} \cdot RF_{s,t} + A_{s,t}^{ps} \tag{7}
$$
met
$$
RF_{s,t} =
\begin{cases}
    \max \left( \min \left( \frac{V_t - CF^P_t}{V_{t-1}},1 \right),0 \right) \hspace{2cm} & \text{if } V_{t-1}\neq 0 \\
    0 & \text{otherwise}
\end{cases}
\tag{8}
$$
met
$$
A^{ps}_{s,t} = (2) \text{ en }(3)
$$

|variabele|betekenis|
|:---|:---|
|$PS^v_s$ | intrinsieke waarde van profit sharing via verhoging van de voorziening (op $t=0$) in simulatie $s$|
|$D_{s,t}$| discount factor (inclusief VA) in jaar $t$ in simulatie $s$|
|$CF^{ps}_{s,t}$ | cashflow als gevolg van profit sharing in jaar $t$ in simulatie $s$|
|$CF^U_t$ | totale uitkering kasstromen in jaar $t$|
|$FF_{s,t}$| flexfactor in jaar $t$ in simulatie $s$: houdt bij met hoeveel (profit sharing) cashflows worden opgehoogd agv winstdeling, en hoeveel deze afnemen agv uitkeringen|
|$V_{s,t}^{ps}$| de voorziening agv winstdeling in jaar $t$ in simulatie $s$ inclusief uitloop van deze voorziening agv uitkeringen|
|$RF_{s,t}$| release factor in jaar $t$ in simulatie $s$: de relatieve afname van de voorziening agv uitkeringen|
|$CF^P_t$| totale premie kasstromen in jaar $t$|

#### Winstdeling met deferred loss via cash
Op de deferred loss account wordt bijgehouden hoeveel verlies a.s.r. heeft gemaakt op het modelpunt. Daarbij wordt er van uit gegaan dat a.s.r. een rendement maakt gelijk aan de reference rate. Indien deze lager uitkomt dan de rekenrente, maakt a.s.r. verlies. Pas wanneer de deferred loss account gelijk is aan 0, kan er winstdeling worden gegeven ter grootte van de gain in het betreffende jaar. Als de deferred loss account groter is dan 0, kan alleen winstdeling worden gegeven als de gain in het betreffende jaar groter is dan de deferred loss account.

$$
PS^c_s = \sum^T_{t=1}A^{ps}_{s,t} \cdot \left(1+cr_{s,t}\right)^{1-\tau}\cdot D_{1,t} \tag{1}\\
$$
waarbij
$$
A^{ps}_{s,t} =
\begin{cases}
    GLA_{s,t} \hspace{2cm} & \text{if } DLA_{s,t-1}= 0 \\
    \max \left( GLA_{s,t}-DLA_{s,t-1},0 \right) \hspace{2cm} & \text{if } DLA_{s,t-1} \neq 0 \\ 
\end{cases}
\tag{9}
$$
met
$$
GLA_{s,t} = V_t \cdot P_{s,t} \tag{10}\\
$$
en
$$
DLA_{s,t-1} =
\begin{cases}
    DLA_{s,t-1} - GLA_{s,t} \hspace{1cm} & \text{if } GLA_{s,t} <0 \text{ or } DLA_{s,t-1} - GLA_{s,t} >0 \\
    0 & \text{otherwise }\\
\end{cases}
\tag{11}
$$
en
$$
P_{s,t} = \frac{1}{K}\cdot\sum^{K-1}_{j=0} min \left(\alpha \cdot \left(\beta \cdot \left(rr_{s,t-j,x} - m \right) - g\right),c \right) \tag{12}
$$

|variabele|betekenis|
|:---|:---|
|$A^{ps}_{s,t}$ | beschikbaar bedrag voor profit sharing in jaar $t$ in simulatie $s$, na verrekening met deferred loss account|
|$GLA_{s,t}$ | gain loss amount, i.e. bedrag in principe beschikbaar voor profit sharing in jaar $t$ in simulatie $s$, maar nog vóór verrekening met deferred loss account|
|$DLA_{s,t}$ | deferred loss account |

#### Winstdeling met deferred loss via verhoging voorziening
$$
PS^v_s = \sum^T_{t=1}CF^{ps}_{s,t} \cdot \left(1+cr_{s,t}\right)^{1-\tau}\cdot D_{s,t} \tag{4}\\
$$
waarbij
$$
CF^{ps}_{s,t} = (5), (6), (7), (8), (9), (11) \text{ en } (12)
$$
met
$$
GLA_{s,t} = V_t \cdot FF_{s,t-1} \cdot P_{s,t} \tag{13}\\
$$

### FSFSPD

#### Winstdeling zonder deferred loss via cash
$$
PS^c_s = \sum^T_{t=1}A^{ps}_{s,t} \cdot \left(1+cr_{s,t}\right)^{1-\tau}\cdot D_{1,t} \tag{1}\\
$$
waarbij
$$
A^{ps}_{s,t} = (2) \\
$$
en
$$
P_{s,t} = min \left(\alpha \cdot max\left(\beta \cdot \left(\frac{1}{K}\cdot\sum^{K-1}_{j=0} rr_{s,t-j,x} - m \right) - g, 0 \right),c \right) \tag{14}
$$
met
$$
rr_{s,t-j,x} = 
\begin{cases}
    \text{S2 par rate ex VA met term $x$} \hspace{1cm} & \text{if } j = t-1 \\
    rr_{s,t-j,x} & \text{otherwise}\\
\end{cases}
\tag{15}
$$

#### Winstdeling zonder deferred loss via verhoging voorziening
$$
PS^v_s = \sum^T_{t=1}CF^{ps}_{s,t} \cdot \left(1+cr_{s,t}\right)^{1-\tau}\cdot D_{s,t} \tag{4}\\
$$
waarbij
$$
CF^{ps}_{s,t} = (5), (6), (7), (8)
$$
met
$$
A^{ps}_{s,t} = (2), (14) \text{ en }(15)
$$

#### Winstdeling met deferred loss via cash
$$
PS^c_s = \sum^T_{t=1}A^{ps}_{s,t} \cdot \left(1+cr_{s,t}\right)^{1-\tau}\cdot D_{1,t} \tag{1}\\
$$
waarbij
$$
A^{ps}_{s,t} = (9), (10) \text{ en } (11)
$$
met
$$
P_{s,t} = min \left(\alpha \cdot \left(\beta \cdot \left(\frac{1}{K}\cdot\sum^{K-1}_{j=0}rr_{s,t-j,x} - m \right) - g\right),c \right) \tag{16}
$$
met
$$
rr_{s,t-j,x} = (15)
$$

#### Winstdeling met deferred loss via verhoging voorziening
$$
PS^v_s = \sum^T_{t=1}CF^{ps}_{s,t} \cdot \left(1+cr_{s,t}\right)^{1-\tau}\cdot D_{s,t} \tag{4}\\
$$
waarbij
$$
CF^{ps}_{s,t} = (5), (6), (7), (8), (9), (11), (13), (15) \text{ en } (16)
$$

### Rentestandskorting
Voor de vaststelling van de rentestandskorting wordt binnen het product F_RSK_ de methodiek gehanteerd dat het percentage wordt vastgesteld op basis van een aantal intervallen. Op basis van een x-jarige rente wordt vastgesteld in welke mate een premiereductie wordt vastgesteld 

$$
PS^{rsk}_s = \sum^T_{t=1}CF^{rsk}_{s,t} \cdot \left(1+cr_{s,t}\right)^{1-\tau}\cdot D_{1,t} \tag{17}\\
$$
met
$$
CF^{rsk}_{s,t} = CF^P_t \cdot PR_{s,t}
$$
met
$$
PR_{s,t} = 
\begin{cases}
    \left(P_{s,t} - RR^1 \right) \cdot S^1 + C^1 \hspace{1cm} & \text{if } P_{s,t} < RR^2 \\
    \left(P_{s,t} - RR^2 \right) \cdot S^2 + C^2  & \text{if } P_{s,t} < RR^3 \\
    \left(P_{s,t} - RR^3 \right) \cdot S^3 + C^3  & \text{if } P_{s,t} < RR^4 \\
    \left(P_{s,t} - RR^4 \right) \cdot S^4 + C^4  & \text{if } P_{s,t} < RR^5 \\
    \left(P_{s,t} - RR^5 \right) \cdot S^5 + C^5  & \text{if } P_{s,t} < RR^6 \\
    C^6 & \text{otherwise}
\end{cases}
\tag{15}    
$$
met
$$
P_{s,t} = \alpha \cdot max\left(\beta \cdot \left(rr^{rsk}_{s,t-j,x} - m \right) - g, 0 \right)  \tag{14} 
$$

|variabele|betekenis|
|:---|:---|
|$CF^{rsk}_{s,t}$ | cashflow als gevolg van rentestandskorting in jaar $t$ in simulatie $s$|
|$PR_{s,t}$ | premie reductiedactor, i.e. het percentage van de premie dat niet hoeft te worden betaald door de klant agv rentestandskorting|
|$RR^i$ | referentierente voor bucket $i$, i.e. indien de profit sharing rente tussen de referentie rentes uit buckets $i$ en $i+1$ ligt, dan wordt premiekorting gegeven ter grootte van $P_{s,t} - RR^i$ (maal een "scalar" plus een "constante") |
|$S^i$| scalar betreffende bucket $i$|
|$C^i$| constante betreffende bucket $i$|
|$rr^{rsk}_{s,t,x}$| referentierente voor rentestandskorting met term $x$|

## Modellering

In [20]:
modelpunt = 'IACD'

# initialisatie
economy = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'ECONOMY'].values[0]
referenceRateTerm = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'PS_BENCH_TERM'].values[0]
profitSharingRule = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'PS_REFERENCE'].values[0]
historyIndex = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'PS_HIST_INDEX'].values[0]
productType = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'Product'].values[0]
productType = 'FSRSK_'
#deferredLossReserve = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'I_DEFLOSS_RESERVE'].values[0]
deferredLossReserve = 5000000
#deferredLossIndicator = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'DEFLOSS_IND'].values[0]
deferredLossIndicator = 1
#payoutIndicator = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'PS_METHOD'].values[0]
payoutIndicator = 1
averagePeriodPS = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'PS_AV_PERIOD'].values[0]
alpha = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'ALPHA_PC'].values[0]/100
beta = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'BETA_PC'].values[0]/100
#margin = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'M_PC'].values[0]/100
margin = 0
#guarantee = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'G_PC'].values[0]/100
guarantee = 0
cap = df_liabilityParameters.loc[df_liabilityParameters['LIAB_NAME'] == modelpunt,'CAP_PC'].values[0]/100

if profitSharingRule == 4:
    df_StaatForwardRates = calculateStaatForwardRates(economy, referenceRateTerm)
    df_swapForwardRates = calculateSwapForwardRates(economy, referenceRateTerm) 
    df_S2DiscountPlusVABase = calculateS2DiscountPlusVA(1, economy)
    
    for simulatie in range(1,11):
        df_S2ParRates = calculateS2ParRates(simulatie, economy, referenceRateTerm, df_StaatForwardRates, df_swapForwardRates)
        df_referenceRates = calculateReferenceRates(df_S2ParRates, historyIndex)
        df_S2DiscountPlusVASimulation = calculateS2DiscountPlusVA(simulatie, economy)
        df_cashReturnSimulation = calculateCashReturnSimulation(df_S2DiscountPlusVASimulation)
        PS = 0
        FFMin1 = 1
        VpsMin1 = 0
        DLAMin1 = deferredLossReserve 
        VMin1 = df_liabilityKasstromen.loc[(df_liabilityKasstromen['VAR_NAME'] == 'MATH_RES_IF') & (df_liabilityKasstromen['LIAB_NAME'] == modelpunt), '0'].values[0]
        for t in range(1, 100):
            V = df_liabilityKasstromen.loc[(df_liabilityKasstromen['VAR_NAME'] == 'MATH_RES_IF') & (df_liabilityKasstromen['LIAB_NAME'] == modelpunt), str(t)].values[0]
            tau = df_liabilityKasstromen.loc[(df_liabilityKasstromen['VAR_NAME'] == 'TIMING_INCOME') & (df_liabilityKasstromen['LIAB_NAME'] == modelpunt), str(t)].values[0]
            cr = df_cashReturnSimulation.loc[t, 'cashReturn']
            Dsim = df_S2DiscountPlusVASimulation.loc[t, 'S2DiscountPlusVA'] 
            Dbase = df_S2DiscountPlusVABase.loc[t, 'S2DiscountPlusVA']
            P = 0

            # vaststellen referenterente en profit sharing rente
            if productType == 'FSTRAD':
                for j in range(0, averagePeriodPS):
                    if averagePeriodPS != 0: 
                        rr = df_referenceRates.loc[df_referenceRates['jaar'] == t-j, 'referenceRates'].values[0]
                        if deferredLossIndicator == 0: # als deferredLossIndicator = 0: geen deferred loss, als = 1: wel deferred loss
                            P += min(alpha * max(beta * (rr - margin) - guarantee, 0), cap) / averagePeriodPS
                        else:
                            P += min(alpha * (beta * (rr - margin) - guarantee), cap) / averagePeriodPS   
            elif productType == 'FSFSPD':
                rr = 0
                for j in range(0, averagePeriodPS):
                    if averagePeriodPS != 0:
                        if j == t-1:
                            rr += df_S2ParRates.loc[df_S2ParRates['jaar'] == t-j, 'S2ParRates'].values[0] / averagePeriodPS
                        else:
                            rr += df_referenceRates.loc[df_referenceRates['jaar'] == t-j, 'referenceRates'].values[0] / averagePeriodPS                      
                if deferredLossIndicator == 0:
                    P = min(alpha * max(beta * (rr - margin) - guarantee, 0), cap)
                else:
                    P = min(alpha * (beta * (rr - margin) - guarantee), cap) 
            elif productType == 'FSRSK_':
                rr = df_referenceRates.loc[df_referenceRates['jaar'] == t, 'referenceRatesRSK'].values[0]
                P = alpha * max(beta * (rr - margin) - guarantee, 0)

            # vaststellen profit sharing
            if (productType == 'FSTRAD') | (productType == 'FSFSPD'):
                GLA = V * FFMin1 * P
                if deferredLossIndicator == 0:
                    Aps = GLA
                else:
                    if DLAMin1 == 0:
                        Aps = GLA
                    else:
                        Aps = max(GLA - DLAMin1, 0)
                    #if V * P < 0:
                    if GLA < 0:
                        DLAMin1 = DLAMin1 - GLA
                    elif DLAMin1 - GLA > 0:
                        DLAMin1 = DLAMin1 - GLA
                    else:
                        DLAMin1 = 0 
                if payoutIndicator == 0: # als payoutIndicator = 0: via cash, als = 1: via voorziening
                    PS += Aps * (1 + cr)**(1 - tau) * Dbase
                else:                    
                    CFp = df_CFsPremies.loc[df_CFsPremies['LIAB_NAME'] == modelpunt, str(t)].values[0]                 
                    if VMin1 == 0:
                        RF = 0
                    else:
                        RF = max(min((V - CFp) / VMin1, 1), 0)
                    VMin1 = V
                    Vps = VpsMin1 * RF + Aps
                    VpsMin1 = Vps
                    if V != 0:
                        FF = (V + Vps) / V
                    else:
                        FF = 1
                    FFMin1 = FF
                    CFu = df_CFsUitkeringen.loc[df_CFsUitkeringen['LIAB_NAME'] == modelpunt, str(t)].values[0]  
                    CFps = CFu * (FF - 1)
                    PS -= CFps * (1 + cr)**(1 - tau) * Dsim
            elif productType == 'FSRSK_':
                if P < df_RSKParameters.loc[1,'RSK_REFER_PC'] / 100:
                    PR = (P - df_RSKParameters.loc[0,'RSK_REFER_PC'] / 100) * df_RSKParameters.loc[0,'RSK_SCALAR'] + df_RSKParameters.loc[0,'RSK_CONSTANT'] / 100
                elif P < df_RSKParameters.loc[2,'RSK_REFER_PC'] / 100: 
                    PR = (P - df_RSKParameters.loc[1,'RSK_REFER_PC'] / 100) * df_RSKParameters.loc[1,'RSK_SCALAR'] + df_RSKParameters.loc[1,'RSK_CONSTANT'] / 100
                elif P < df_RSKParameters.loc[3,'RSK_REFER_PC'] / 100: 
                    PR = (P - df_RSKParameters.loc[2,'RSK_REFER_PC'] / 100) * df_RSKParameters.loc[2,'RSK_SCALAR'] + df_RSKParameters.loc[2,'RSK_CONSTANT'] / 100
                elif P < df_RSKParameters.loc[4,'RSK_REFER_PC'] / 100: 
                    PR = (P - df_RSKParameters.loc[3,'RSK_REFER_PC'] / 100) * df_RSKParameters.loc[3,'RSK_SCALAR'] + df_RSKParameters.loc[3,'RSK_CONSTANT'] / 100
                elif P < df_RSKParameters.loc[5,'RSK_REFER_PC'] / 100: 
                    PR = (P - df_RSKParameters.loc[4,'RSK_REFER_PC'] / 100) * df_RSKParameters.loc[4,'RSK_SCALAR'] + df_RSKParameters.loc[4,'RSK_CONSTANT'] / 100
                else:
                    PR = df_RSKParameters.loc[5,'RSK_CONSTANT'] / 100 
                CFrsk = df_CFsPremies.loc[df_CFsPremies['LIAB_NAME'] == modelpunt, str(t)].values[0] * PR
                PS += CFrsk * (1 + cr)**(1 - tau) * Dbase

        print(PS)

3502815.2096809703
46764.597117366284
9988083.322517924
1956839.0695117956
6250241.4483970795
142331.83106443495
9144925.855236912
2552806.649173026
6238225.454464346
1838108.339273738